.app_wrapper {
  grid-template-areas: 
  "h h"
  "n c";
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;   /* відстань між блоками */
}

/* grid-area: n;   psevdonim */

.header {
  grid-area: h;
  background: greenyellow;
}

.nav {
  grid-area: n;
  background: aquamarine;
}


.content{
  grid-area: c;
  background: blue;
}